.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.vscode/
.DS_Store
ProcessedData/
plots/
run_err.log
run_error.log
swiftsimio/
build/
dist/
swiftsimio_local_backup/
.git.backup/
ucmg_particle_index_mapping.npz
ucmg_particle_index_mapping.npz
sfh_times_all_with_DoR_variants.csv.gz
potentially_truncated_sfh.csv.gz
*.csv.gz
sfh_times_*.csv.gz
potentially_truncated_sfh.csv.gz
